@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #5A4D33;
  /* Fallback */
  margin: 0;
  overflow-x: hidden;
}

/* Hardware Acceleration Class */
.transform-gpu {
  transform: translateZ(0);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2A200B;
}

::-webkit-scrollbar-thumb {
  background: #A88B3E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C4A95C;
}
